.container {
    max-width: 100%;
    margin: 25px;
    font-family: 'Playfair Display', serif;
    border: 5px solid black;
    padding: 15px;
}

.logo {
    
    display: flex;
  }
.logo img {
    width: 70mm;
    height: 50mm;
    margin:10px;
    padding:10px;
  }
.logo h2{
    text-align: center;
}
.names{
    display: block;
    text-align: center;
    border: 3px solid black;
    padding:20px;
    width: 100%;
}

.tbl{
    border: 5px double black;
    border-radius: 10px;
    margin: 40px;
    padding: 15px;
}
.row{
    display: flex;
    padding: 5px;
    margin: 5px;
}
.col-8 {
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
}
.col-4{
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
}
.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
}
.table th,
.table td {
    border: 1px solid black;
    padding: 2mm;
}

.table td{
    height: 50px;
}

.declaration {
    margin-top: 25mm;
    font-size: 15px;
}

.signature {
    margin-top: 5mm;
    text-align: right;
    font-size: 15px;
  }