{% extends "layout.html" %}
{% block body %}

<header class="text-gray-400 bg-gray-900 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-white" href="/dashboard">Dashboard</a>
      <a class="mr-5 hover:text-white" href="/addcustomer">Add Customer</a>
      <a class="mr-5 hover:text-white" href="/product">Product</a>
      <a class="mr-5 hover:text-white" href="/bitwork">BitWork</a>
      <a class="mr-5 hover:text-white" href="/dailyreport">Daily Reports</a>
    </nav>
  </div>
</header>


<section class="text-gray-400 bg-gray-900 body-font relative">
    <div class="px-5 py-10 mx-auto">
      <div class="flex flex-col text-center w-full mb-6">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">Add Customer Details</h1>
      </div>
      <div class="lg:w-1/2 md:w-2/3 mx-auto">
        <div class="flex flex-wrap -m-2">
          <form action="/addcustomer" method="post">
          <div class="p-2 w-5/2">
            <div class="relative">
              <label for="name" class="leading-7 text-sm text-gray-400">Name</label>
              <input type="text" id="name" name="name" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
          </div>
          <div class="p-2 w-5/2">
            <div class="relative">
              <label for="gaav" class="leading-7 text-sm text-gray-400">Gaav</label>
              <input type="text" id="gaav" name="gaav" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
          </div>
          <div class="p-2 w-5/2">
            <div class="relative">
              <label for="p_type" class="leading-7 text-sm text-gray-400">Product Type</label>
              <select type="text" id="p_type" name="p_type" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                {% for data in data %}
                  <option value="{{data.name}}">{{data.name}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="p-2 w-5/2">
            <div class="relative">
              <label for="count" class="leading-7 text-sm text-gray-400">count</label>
              <input type="text" id="count" name="count" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
          </div>
          <div class="p-2 w-5/2">
            <div class="relative">
              <label for="dname" class="leading-7 text-sm text-gray-400">Delivery Name</label>
              <input type="text" id="dname" name="dname" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
          </div>
          <div class="p-2 w-full">
            <button type="submit" class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">ADD CUSTOMER DETAILS</button>
          </div>
        </form>
        </div>
      </div>
    </div>
  </section>

{% endblock %}