{% extends "layout.html" %}
{% block body %}

<header class="text-gray-400 bg-gray-900 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-white" href="/dashboard">Dashboard</a>
      <a class="mr-5 hover:text-white" href="/addcustomer">Add Customer</a>
      <a class="mr-5 hover:text-white" href="/product">Product</a>
      <a class="mr-5 hover:text-white" href="/bitwork">BitWork</a>
      <a class="mr-5 hover:text-white" href="/viewdata">View Data</a>
      <a class="mr-5 hover:text-white" href="/dailyreport">Daily Reports</a>
    </nav>
  </div>
</header>

    <section class="text-gray-400 bg-gray-900 body-font">
        <div class="container px-5 py-5 mx-auto">
          <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-white">Today's Record Here</h1>
          </div>
          <div class="lg:w-2/3 w-full mx-auto overflow-auto">
            <table class="table-auto w-full text-left whitespace-no-wrap">
              <thead>
                <tr>
                  <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800 rounded-tl rounded-bl">Sno</th>
                  <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800">Name</th>
                  <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800">Product Type</th>
                  <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800">Total</th>
                  <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800">Paid Status</th>
                  <th class="w-10 title-font tracking-wider font-medium text-white text-sm bg-gray-800 rounded-tr rounded-br">Download Bill</th>
                </tr>
              </thead>
              <tbody>
                {% for data in data %}
                <tr>
                  <td class="px-4 py-3">{{data.sno}}</td>
                  <td class="px-4 py-3">{{data.name}}</td>
                  <td class="px-4 py-3">{{data.ptype}}</td>
                  <td class="px-4 py-3 text-lg text-white">{{data.rate}}</td>
                  <td class="px-4 py-3 text-lg text-white">True</td>
                  <td><button class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded"><a href="/showbill/{{data.sno}}">Download Bill</a></button></tr>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </section>

      {% endblock %}