{% extends "layout.html" %}
{% block body %}

<section class="text-gray-400 bg-gray-900 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="data:image/png;base64,{{ graph_url }}" alt="Market Data Graph">
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h2 class="text-lg text-yellow title-font tracking-widest">SEEDS</h2>
        <h2 class="text-2xl text-white font-medium title-font mb-4">{{name}}</h2>
          <h6 class="text-lg text-white font-medium title-font mb-4">Current price -> {{data1.curr_price}}</h6>
          <h6 class="text-lg text-white font-medium title-font mb-4">Maximum price -> {{data1.maximum}}</h6>
          <h6 class="text-lg text-white font-medium title-font mb-4">Minimum price -> {{data1.minimum}}</h6>
          <h6 class="text-lg text-white font-medium title-font mb-4">Average price -> {{data1.average}}</h6>
      </div>
    </div>
  </div>
</section>

{% endblock %}